<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<property name="LOG_PATH" value="/opt/logs/sntk/" />
	<property name="PATTERN_FILE" value="[ADMIN] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} %msg%n" />
	<property name="PATTERN_STD" value="[ADMIN] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} %caller{1} - %msg%n" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${PATTERN_STD}</pattern>
		</encoder>
	</appender>

	<appender name="SNTK_SYS" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<file>${LOG_PATH}sntk.sys.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}sntk.sys.%d{yyyyMMdd}.%i </fileNamePattern>
			<maxHistory>3</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<Pattern>${PATTERN_FILE}</Pattern>
		</encoder>
	</appender>

	<appender name="OTHER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<file>${LOG_PATH}other.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}other.%d{yyyyMMdd}.%i </fileNamePattern>
			<maxHistory>3</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<Pattern>${PATTERN_FILE}</Pattern>
		</encoder>
	</appender>

	<appender name="SNTK" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<file>${LOG_PATH}sntk</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}sntk.%d{yyyyMMdd}.%i </fileNamePattern>
			<maxHistory>3</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<Pattern>${PATTERN_FILE}</Pattern>
		</encoder>
	</appender>


	<logger name="org.apache.zookeeper" level="WARN" additivity="false">
		<appender-ref ref="OTHER" />
	</logger>
	<logger name="com.suning.framework.sedis.SmartShardedJedisPool" level="WARN" additivity="false">
		<appender-ref ref="SNTK_SYS" />
	</logger>
	<logger name="org.springframework" level="WARN" additivity="false">
		<appender-ref ref="SNTK_SYS" />
	</logger>
	<logger name="com.suning.rsf" level="WARN" additivity="false">
		<appender-ref ref="SNTK_SYS" />
	</logger>
	<logger name="com.suning.sntk" level="DEBUG" additivity="false">
		<appender-ref ref="SNTK" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="com.suning.store" level="DEBUG" additivity="false">
		<appender-ref ref="SNTK" />
		<appender-ref ref="STDOUT" />
	</logger>
	<root level="DEBUG">
		<appender-ref ref="SNTK" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>