<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rsf="http://www.suning.com/schema/rsf"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.suning.com/schema/rsf http://www.suning.com/schema/rsf/rsf.xsd">

    <import resource="spring-common.xml"/>

    <bean class="com.suning.store.commons.rsf.advice.RsfResponseAdvice">
        <constructor-arg ref="messageSource"/>
        <property name="exceptionFactory" ref="exceptionFactory"/>
    </bean>
    <rsf:servicesPublish/>
    <rsf:servicesReference/>
</beans>