<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	    http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--<import resource="classpath*:conf/spring/spring-public-service.xml"/>-->
    <import resource="classpath*:conf/spring/spring-mq-listener.xml"/>
    <import resource="classpath*:conf/spring/spring-mq-sender.xml"/>
    <!--<import resource="spring-test.xml"/>-->
    <import resource="classpath*:conf/spring/spring-oss.xml"/>

    <aop:aspectj-autoproxy/>

    <!-- FOR LOCAL TEST, NOT COMMIT -->
    <bean id="druid" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="url" value="jdbc:mysql://10.47.128.65:3306/sntksit1?useUnicode=true&amp;characterEncoding=UTF-8"/>
        <property name="username" value="selffabu"/>
        <property name="password" value="qcDkilCIWF"/>
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    </bean>
    <jee:jndi-lookup id="sntkjndi" jndi-name="jdbc/sntk" default-ref="druid"/>
    <jee:jndi-lookup id="sntkjndi_read" jndi-name="jdbc/sntk_read" default-ref="druid"/>
    <!-- FOR LOCAL TEST, NOT COMMIT -->

    <!-- 数据源 主数据源
    <jee:jndi-lookup id="sntkjndi" jndi-name="jdbc/sntk"
        proxy-interface="javax.sql.DataSource" lookup-on-startup="true" />
    -->
    <!-- 数据源  读库
    <jee:jndi-lookup id="sntkjndi_read" jndi-name="jdbc/sntk_read"
        proxy-interface="javax.sql.DataSource" lookup-on-startup="true" />
    -->

    <bean id="dalClient" class="com.suning.framework.dal.client.support.DefaultDalClient">
        <property name="sqlMapConfigLocation" value="classpath*:conf/sqlMap/sqlMap_*.xml"/>
        <property name="dataSource" ref="sntkjndi"/>
    </bean>

    <bean id="dalClientRead" class="com.suning.framework.dal.client.support.DefaultDalClient">
        <property name="sqlMapConfigLocation" value="classpath*:conf/sqlMap/sqlMap_*.xml"/>
        <property name="dataSource" ref="sntkjndi_read"/>
    </bean>


    <bean class="com.suning.store.dal.config.DalMapperScannerConfigurer">
        <property name="basePackage" value="com.suning.sntk.dao, com.suning.sntk.admin.dao"/>
        <property name="dalClient" ref="dalClient"/>
        <property name="dalClientRead" ref="dalClientRead"/>
    </bean>

    <bean id="exportExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolExecutorFactoryBean">
        <property name="daemon" value="true"/>
        <property name="corePoolSize" value="5"/>
        <!--存活时间为 半个小时-->
        <property name="keepAliveSeconds" value="1800"/>
        <property name="queueCapacity" value="20"/>
        <property name="threadNamePrefix" value="导出线程池"/>
        <property name="maxPoolSize" value="10"/>
        <property name="allowCoreThreadTimeOut" value="true"/>
    </bean>

    <!-- 用spring的事务管理 器 -->
    <!-- 事务实现begin -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="sntkjndi"/>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>
    <!-- 事务实现end -->

    <aop:aspectj-autoproxy/>
    <context:component-scan base-package="com.suning.sntk"/>

    <bean id="wechatPublicAccountServiceImpl" class="com.suning.sntk.admin.service.vgo.impl.WechatPublicAccountServiceImpl" scope="singleton">
        <property name="tipUrl" value="$[tipUrl]"/>
        <property name="wechatTopic" value="$[wechatTopic]"/>
    </bean>
</beans>