<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="sntk" version="2.5">
    <display-name>Archetype Created Web Application</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:conf/spring/spring-context.xml
        </param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.suning.framework.log.LogContextListener</listener-class>
    </listener>
    <filter>
        <filter-name>characterEncoding</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>characterEncoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>sntk-admin</servlet-name>
        <url-pattern>*.do</url-pattern>
        <url-pattern>*.json</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sntk-admin</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:conf/spring/spring-servlet.xml</param-value>
        </init-param>
    </servlet>
    <welcome-file-list>
        <welcome-file>*</welcome-file>
    </welcome-file-list>
    
    
    <!-- passport 配置 -->
    <context-param>
		<param-name>idsConfigFilePath</param-name>
		<param-value>/WEB-INF/classes/conf/passport/ids-config.xml</param-value>
	</context-param>
	
	<context-param>
		<param-name>idsAccessPolicyFilePath</param-name>
		<param-value>/WEB-INF/classes/conf/passport/ids-accessPolicy.xml</param-value>
	</context-param>

	<filter>
		<filter-name>authenticationFilter</filter-name>
		<filter-class>com.suning.ids.client.AuthenticationFilter</filter-class>
		<init-param>
			<param-name>authUrlPattern</param-name>
			<param-value>/auth</param-value>
		</init-param>
		<init-param>
			<param-name>authStatusUrlPattern</param-name>
			<param-value>/authStatus</param-value>
		</init-param>
		<init-param>
			<param-name>popupLoginSuccessUrlPattern</param-name>
			<param-value>/popupLoginSuccess</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>authenticationFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>authenticationServlet</servlet-name>
		<servlet-class>com.suning.ids.client.AuthenticationServlet</servlet-class>
		<load-on-startup>4</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>authenticationServlet</servlet-name>
		<url-pattern>/auth</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>authStatusServlet</servlet-name>
		<servlet-class>com.suning.ids.client.AuthStatusServlet</servlet-class>
		<load-on-startup>4</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>authStatusServlet</servlet-name>
		<url-pattern>/authStatus</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>popupLoginSuccessServlet</servlet-name>
		<servlet-class>com.suning.ids.client.PopupLoginSuccessServlet</servlet-class>
		<load-on-startup>4</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>popupLoginSuccessServlet</servlet-name>
		<url-pattern>/popupLoginSuccess</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>jobDispatcherServlet</servlet-name>
		<servlet-class>com.suning.framework.uts.client.core.JobDispatcherServlet</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>jobDispatcherServlet</servlet-name>
		<url-pattern>/jobDispatcher</url-pattern>
	</servlet-mapping>
    
</web-app>