<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd

	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <aop:aspectj-autoproxy/>

	<!-- 数据源 主数据源 -->
	<jee:jndi-lookup id="sntkjndi" jndi-name="jdbc/sntk"
		proxy-interface="javax.sql.DataSource" lookup-on-startup="true" />
		
	<!-- 数据源  读库 -->
	<jee:jndi-lookup id="sntkjndi_read" jndi-name="jdbc/sntk_read"
		proxy-interface="javax.sql.DataSource" lookup-on-startup="true" />


    <bean id="dalClient" class="com.suning.framework.dal.client.support.DefaultDalClient">
        <property name="sqlMapConfigLocation" value="classpath*:conf/sqlMap/sqlMap_*.xml"/>
        <property name="dataSource" ref="sntkjndi"/>
        <property name="entityPackage" value="com.suning.sntk.entity"/>
    </bean>

    <bean id="dalClientRead" class="com.suning.framework.dal.client.support.DefaultDalClient">
        <property name="sqlMapConfigLocation" value="classpath*:conf/sqlMap/sqlMap_*.xml"/>
        <property name="dataSource" ref="sntkjndi_read"/>
        <property name="entityPackage" value="com.suning.sntk.entity"/>
    </bean>


    <bean class="com.suning.store.dal.config.DalMapperScannerConfigurer">
        <property name="basePackage" value="com.suning.sntk.admin.dao, com.suning.sntk.dao"/>
        <property name="dalClientName" value="dalClient"/>
        <property name="dalClientReadName" value="dalClientRead"/>
        <property name="processPropertyPlaceHolders" value="true"/>
    </bean>
    
    <!-- 用spring的事务管理 器 -->
	<!-- 事务实现begin -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="sntkjndi" />
	</bean>
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>
    <!-- 事务实现end -->
</beans>